@font-face {
  font-family: 'MgOpenModata';
  src: url("../../fonts/MgOpenModataRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'BigNoodleTitling'
  src: url("../../fonts/bignoodletitlingrus.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}